body {
    display: block;
    position: relative;
    color: rgb(2, 1, 5);
  }
  
  body:after {
    content: "";
    background: url("bg.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
.cell {
  padding: 5px 9px;
  display: table-cell;
}
.row {
  display: table-row;
}
.nacalo {
  background-color: rgb(241, 26, 26);
}